body{
    text-align: center;
}
.btn{
    justify-content: center;
    height:150px;
    width:150px;
    border-radius: 20%;
    margin: 2.5rem;
    border: 10px solid black;
}
.container{
    display: flex;
    justify-content: center;
}
.yellow{
background-color:#f99b45 ;
}
.red{
background-color:#d95980;
}
.purple{
background-color:#819ff9;
}
.green{
background-color:#63aac0;
}
.flash{
    background-color: white;
}